@import "variables";
@mixin btn($color-bg, $color-txt, $size-txt) {
    padding: 14px, $base-padding;
    max-height: $base-height;
    border-radius: $radius;
    border: none;
    background-color: $color-bg;
    color: $color-txt;
    font-size: $size-txt;
    text-align: center;
}

@mixin item_container ($justify) {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: $justify;
    align-items: center;
}

@mixin section-wrapper {
    margin: $base-padding;
    box-shadow: 1px 1px 13px -3px $color-background;
    -webkit-box-shadow: 1px 1px 13px -3px $color-background;
    -moz-box-shadow: 1px 1px 13px -3px $color-background;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: right;
}