@import '../variables';
@import '../layout';
@import '../mixins';




.general__header {
  @include section_header();
}

.general__content_wrapper,
.general__date_wrapper,
.general__stats_wrapper,
.general__chart_wrapper,
.general__input_wrapper {
  @include section-row-wrapper(1px solid $color-border);
  background-color: $color-background-light;
  padding-top: $size-base;
  padding-bottom: $size-base;
}
.general__content_wrapper{
  flex-direction: column;
}


//calendar
.general__date_wrapper, .general__input_wrapper{
  border-bottom: none;
  justify-content: center;
}

.general__call_wrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border: 1px solid $color-border;
  border-radius: 5px;
  padding-right: $size-base/2;
  margin-right: $size-base;
  @media (max-width: 767px) {
    padding-right: 0;
    margin-right: 0;
    margin-bottom: $size-txt;
  }  
}

input[type='date']{
  margin: 0;
  padding: calc($base-padding/2);
  text-align: center;
  border: none; 
  
  &::-webkit-calendar-picker-indicator {
    opacity: 0;   
  }
  
}

.general__date_input, .general__date_submit{
  height: $base-height
}
.general__date_submit{
  @include btn($color-warning, $color-background-light, $base-height);
  padding: 5px 8px; 
  .icon-wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &:hover{
    background-color: $color-warning-hover;  
  }
}
.icon{
  font-size: $size-txt;  
}

//stats

.general__stats_wrapper{
  justify-content: space-between;
  width: 60%;
  @media (max-width: 767px) {
    width: 100%;       
  }  
}

.general__stats_col{
  max-width: 45%;
  min-width: 45%;
  @media (max-width: 767px) {
    min-width: 100%;       
  }
}

.general__stats_row{
  @include section-row-wrapper();
  border-bottom: 1px solid $color-border;
  justify-content: space-between;
  padding: $base-padding/2;  
  .general__stats_cell{        
    .amount{
      justify-content: right;
    }
  }
  @media (max-width: 767px) {
    flex-direction: row;
    justify-content: space-between;       
  }
}

.general__stats_header{
  @include item_label();
}

.general__stats_number{
  text-align: right;
}
//chart
.general__chart_header_container{
  width: 60%;
  text-align: left;
  @media (max-width: 767px) {
    width: 100%;
  } 
}
.general__chart_header{
  @include item_label();  
}
.general__chart_wrapper{
  flex-direction: column;
  width: 60%;
  @media (max-width: 767px) {
    width: 100%;
  }  
}



